* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

body{
    height: 100vh;
}

main{
    display: flex;
    height: calc(100% - 120px);
}

.sidebar{
    width: 200px;
    background-color: rgba(0,0,0,255);
    display: flex;
    flex-direction: column;
}

.playlist{
    flex-grow: 1;
}


.mainsection{
    display: flex;
    flex-direction: column;
    width: calc(100% - 200px);
    overflow: auto;
    
}

footer{
    height: 120px;
}
.sbarrasotto{
    background-color: rgba(40,40,40,255);
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    color: gray;
}



.logo1{
    padding: 10px;
    width: 150px;
    height: 60px;
    background-color: rgba(0,0,0,255);
}

#img22 {
    width: 100%;
    height: auto;
    display: none;
  }


.sezioni div{
    margin-left:5px;
}
.home1  {
    height: 30px;
    display: flex; 
    color: gray;
}


#img121{
    height: 100%;
    display: block;
    
}

.home1 span{
    align-self: center;
}

.home1:hover {
    color: white;
}

.playlist h2:hover, .playlist p:hover, .sidend p:hover {
    color: white;
}

.playlist{
    margin-top: 10px;
    color: gray;
}
.playlist>*{
    margin-left: 14px;
    margin-top: 5px;
}
.sidend{
    margin-left: 14px;
    margin-top: 5px;
    
}

.borderbottom{
    border-bottom: 2px black solid;
}

.upbar{
    background-color: rgba(8,11,18,255);
    height: 60px;
    width: calc(100% - 200px);
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: fixed;
    z-index: 2;
}

.mainsect{
    background-color: rgba(20,25,34,255);
    display: flex;
    flex-wrap: wrap;
}

.bottone{
    border: 2px white solid;
    background-color: black;
    color: white;
    padding: 5px 15px;
    border-radius: 2rem;
    margin: 15px;

}
.bottone:hover {
    scale: 1.21;
}


.sezionimain {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    flex-basis: 100%;
    margin-top: 60px; 
}

.sezionimain ul{
    display: flex;
    list-style-type: none;
    flex-wrap: wrap;

}

.sezionimain li{
    margin-left: 5px;
    flex: calc(100% / 6 - 30px);
    color: gray;
}

.sezionimain li:hover{
    color: white;
    scale: 1.3;
    border-bottom: 2px green solid;
}

.recentplayed{
    flex-basis: 100%;
    height: 70px;
    display: flex;
    align-items: center;
    color:  white;
}

.recentplayed h1{
    padding: 10px;
}

.sezionecard1 {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.sezionecard{
    height: 220px;
    width: 100%;
    display: flex;
    align-items: center;
}

.card1{
    height: 200px;
    width: 200px;
    flex-basis: calc(100% / 6);
    position: relative;
}

.card{
    height: 200px;
    width: 200px;
    flex-basis: calc(100% / 6);
    position: relative;
}


#img2 , #img3{
    width: 70%;
    margin: 10px auto 0;
    height: auto;
    display: block;
}

.fa-solid1 {
    color: white;
    scale: 3;
}

.prov{
    position: relative;
}

.play1{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
}

.card:hover .play1 , .card1:hover .play1 ,.img121:hover .play1 {
    display: block;
}

.card h4, .card p, .card1 h4, .card1 p{
    text-align: center;
    margin: 5px 0;
    color: white;
}

.creatoperjon{
    height: 70px;
    display: flex;
    flex-wrap: wrap;
    flex-basis: 100%;
    color:  white;
}

.creatoperjon h1{
    flex-basis: 100%;
    margin: 10px 0 0 10px;
}

.creatoperjon p{
    flex-basis: 100%;
    margin: -5px 0 0 10px;
    color: gray;
}

.round{
    border-radius: 50%;
}

.item1{
    display: flex;
    align-items: center;
    flex-basis: 30%;
}

.img121 {
    height: 80%;
}

#img131{
    height: 100%;
    display: block;
    padding: 10px;
}

.cuori {
    margin-left: 30px;
}

.item2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-basis: 250%;
    width: 30vw;
    color: white;
}

.item2 span{
    margin: 5px;
    flex-grow: 1;
}




.blocco{
    display: flex;
    align-items: center;
}



.sbarra{
    height: 10px;
    width: 40vw;
    background-color: black;
    border: 2px  solid rgba(40,40,40,255);
    margin: 20px;
    position: relative;
}

.sbarra1{
    height: 10px;
    width: 25vw;
    background-color: green;
    border: 2px solid rgba(40,40,40,255);
    border-right: 0;
    margin: 20px;
    position: absolute;
    top: -22px;
    left: -22px;
}

.cerchio{
    height: 20px;
    width: 20px;
    background-color: red;
    border-radius: 2rem;
    position: absolute;
    top: -7px;
    left: 24vw;
    display: none;
}


.sbarra:hover .cerchio{
    display: block;
}

.sbarra:hover .sbarra1{
    background-color: violet;
}

.sbarra:hover {
    background-color: blue;
}

.item3 {
    display: flex;
    align-items: center;
    flex-basis: 30%;
}


.scal1:hover{
    scale: 2;
}

.item1 p:hover , .cuori h5:hover , .item3 h1:hover{
    color: white;
}


.disegnini{
    width: 10px;
    height: 20px;
    background-color: black;
}

.sbarrasotto3{
    height: 10px;
    width: 60px;
    background-color: black;
    border: 2px  solid rgba(40,40,40,255);
    margin: 20px;
    position: relative;
}

.sbarrasotto13{
    height: 10px;
    width: 35px;
    background-color: green;
    border: 2px solid rgba(40,40,40,255);
    border-right: 0;
    margin: 20px;
    position: absolute;
    top: -22px;
    left: -22px;
}


.cerchio11{
    height: 12px;
    width: 12px;
    background-color: red;
    border-radius: 2rem;
    position: absolute;
    left: 31px;
    top: -3px;
    display: none;
   

    
}

.disegnini:hover{
    background-color: blanchedalmond;
}

.sbarrasotto3:hover .sbarrasotto13{
    background-color: blue;
}

.sbarrasotto3:hover {
    background-color: green;
}

.sbarrasotto3:hover .cerchio11{
    display: block;
}


@media screen and (max-width: 768px){
    .card1 , .card{
        height: 200px;
        width: 200px;
        flex-basis: calc(100% / 4);
        position: relative;
    }

    .item2{
        flex-basis: 250%;
    }
    
    .sbarra{
        width: 20vw;
    }
    .sbarra1{
        width: 12.5vw;
    }

    .cerchio{
        left: 10.5vw;
    }

    .play1{
        scale:0.8;
    }
}

@media screen and (max-width: 520px){
    .sidebar{
        width: 60px;
    }
    
    .card1 , .card{
        height: 200px;
        width: 200px;
        flex-basis: calc(100% / 2);
        position: relative;
        margin-bottom: 20px;
    }

    .sezionimain li{
        margin-left: 5px;
        flex-basis: calc(100% / 4 - 20px);
        text-align: center;
    }

    .sezioni{
        flex-grow: 1;
    }

    .home1 span{
        display: none;
    }

    .playlist{
        display: none;
    }

    #img1{
        display: none;
    }

    #img22{
        display: block;
        height: 40px;
        margin-left: -45px;
    }

    .mainsection ,.upbar ,.sezionimain , .recentplayed, .sezionecard1 ,.creatoperjon ,.sezionecard, .creatoperjon  {
        width: calc(100vw - 60px);
    }

    .play1{
        scale: 1.5;
    }

    .borderbottom{
        border-bottom: 0;
    }

}