* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

body{
    height: 100vh;
}

main{
    display: flex;
    height: calc(100vh - 120px);
}

.sidebar{
    width: 200px;
    background-color: bisque;
    display: flex;
    flex-direction: column;
}

.playlist{
    flex-grow: 1;
}


.mainsection{
    display: flex;
    flex-direction: column;
    width: calc(100vw - 200px);
    overflow: auto;
    
}

footer{
    height: 120px;
}
.sbarrasotto{
    background-color: rgba(128, 128, 128, 0.07);
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
}



.logo1{
    padding: 10px;
    width: 150px;
    height: 60px;
    background-color: bisque;
}

#img1 {
    width: 100%;
    height: auto;
    display: block;
  }


.sezioni div{
    margin-left:5px;
}
.home1  {
    height: 30px;
    display: flex; 
}


#img121{
    height: 100%;
    display: block;
    
}

.home1 span{
    align-self: center;
}

.playlist{
    margin-top: 10px;
}
.playlist>*{
    margin-left: 14px;
    margin-top: 5px;
}
.sidend{
    margin-left: 14px;
    margin-top: 5px;
    
}

.borderbottom{
    border-bottom: 2px black solid;
}

.upbar{
    background-color: bisque;
    height: 60px;
    width: calc(100vw - 200px);
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: fixed;
    z-index: 2;
}

.mainsect{
    background-color: black;
    display: flex;
    flex-wrap: wrap;
}

.bottone{
    border: 2px white solid;
    background-color: black;
    color: white;
    padding: 5px 15px;
    border-radius: 2rem;
    margin: 15px;
}


.sezionimain{
    background-color: gray;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    flex-basis: 100%;
    width: calc(100% - 200px);
    margin-top: 60px;
    
}

.sezionimain ul{
    display: flex;
    list-style-type: none;
}

.sezionimain li{
    margin: 10px;
}

.recentplayed{
    flex-basis: 100%;
    height: 70px;
    background-color: gray;
    display: flex;
    align-items: center;
}

.recentplayed h1{
    padding: 10px;
}

.sezionecard{
    height: 220px;
    width: calc(100vw - 200px);
    background-color: gray;
    display: flex;
    align-items: center;
}

.card{
    height: 200px;
    width: 200px;
    flex-basis: calc(100% / 6);
}

#img2 {
    width: 70%;
    margin: 10px auto 0;
    height: auto;
    display: block;
}

.card h4, .card p{
    text-align: center;
    margin: 5px 0;
    color: white;
}

.creatoperjon{
    height: 70px;
    display: flex;
    flex-wrap: wrap;
    background-color: gray;
    flex-basis: 100%;
}

.creatoperjon h1{
    flex-basis: 100%;
    margin: 10px 0 0 10px;
}

.creatoperjon p{
    flex-basis: 100%;
    margin: -5px 0 0 10px;
}

.round{
    border-radius: 50%;
}

.item1{
    display: flex;
    align-items: center;
}

.img121 {
    height: 80%;
}

#img131{
    height: 100%;
    display: block;
    padding: 10px;
}

.cuori {
    margin-left: 30px;
}

.item2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
}

.item2 span{
    margin: 5px;
    flex-basis: 100%;
}

.sbarra{
    height: 10px;
    width: 250px;
    background-color: black;
    border: 2px solid white;
    margin: 20px;
}

.item3{
    display: flex;
    justify-content: center;
    align-items: center;
}

.item3 h1{
    margin: 10px;
}



